name: Hexo Deployment  
on:  
  push:  
    branches:  
      - master

jobs:  
  build-and-deploy:  
    runs-on: ubuntu-latest  
    steps:  
      - name: Checkout  
        uses: actions/checkout@v4  
        with:  
          persist-credentials: false

      - name: Use Node.js  
        uses: actions/setup-node@v2  
        with:  
          node-version: '14'  

      - name: Install Hexo  
        run: npm install -g hexo-cli  

      - name: Install Dependencies  
        run: npm install  

      - name: Generate Static Files  
        run: hexo generate

      - name: Deploy to GitHub Pages  
        uses: peaceiris/actions-gh-pages@v3  
        with:  
          github_token: ${{ secrets.DEPLOY_TOKEN }}  
          publish_dir: ./public  
          publish_branch: gh-pages  
          force_orphan: true
